In [18]:
#https://dash.plotly.com/dash-core-components/store
#https://dash.plotly.com/sharing-data-between-callbacks

from dash import Dash, html, dcc, Output, Input, callback, dash_table
import pandas as pd
import plotly.express as px

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
app = Dash(__name__, external_stylesheets=external_stylesheets)

app.layout = html.Div([
    html.H1('Sharing Data between callbacks', style={'textAlign':'center'}),
    html.Div([
        dcc.Dropdown(id='data-set-chosen', multi=False, value='gapminder',
                     options=[{'label':'Country Data', 'value':'gapminder'},
                              {'label':'Restaurant Tips', 'value':'tips'},
                              {'label':'Flowers', 'value':'iris'}])
    ], className='row', style={'width':'50%'}),

    html.Div([
        html.Div(id='graph1', children=[], className='six columns'),
    ], className='row'),

    html.Div([
        html.Div(id='table-placeholder', children=[])
    ], className='row'),

    # dcc.Store inside the user's current browser session
    dcc.Store(id='store-data', data=[], storage_type='memory') # 'local' or 'session'
])


@callback(
    Output('store-data', 'data'),
    Input('data-set-chosen', 'value')
)
def store_data(value):
    # hypothetical enormous dataset with millions of rows
    if value == 'gapminder':
        dataset = px.data.gapminder()
    elif value == 'tips':
        dataset = px.data.tips()
    elif value == 'iris':
        dataset = px.data.iris()
    return dataset.to_dict('records')
    # 2. or save as string like JSON
    # return dataset.to_json(orient='split')


@callback(
    Output('graph1', 'children'),
    Input('store-data', 'data')
)
def create_graph1(data):
    print(type(data))
    dff = pd.DataFrame(data)
    # 2. convert string like JSON to pandas dataframe
    # dff = pd.read_json(data, orient='split')
    print(dff.head())
    print(type(dff))

    if 'country' in dff.columns:
        fig1 = px.line(dff, x='year', y='lifeExp', color='continent')
        return dcc.Graph(figure=fig1)

    elif 'total_bill' in dff.columns:
        fig2 = px.bar(dff, x='day', y='tip', color='sex')
        return dcc.Graph(figure=fig2)

    elif 'sepal_length' in dff.columns:
        fig3 = px.scatter(dff, x='sepal_width', y='petal_width', color='species')
        return dcc.Graph(figure=fig3)


@callback(
    Output('table-placeholder', 'children'),
    Input('store-data', 'data')
)
def create_graph1(data):
    dff = pd.DataFrame(data)
    # 2. convert string like JSON to pandas dataframe
    # dff = pd.read_json(data, orient='split')
    my_table = dash_table.DataTable(
        columns=[{"name": i, "id": i} for i in dff.columns],
        data=dff.to_dict('records')
    )
    return my_table

if __name__ == '__main__':
    app.run_server(debug=True,use_reloader=False)

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on
<class 'list'>
       country continent  year  lifeExp       pop   gdpPercap iso_alpha  \
0  Afghanistan      Asia  1952   28.801   8425333  779.445314       AFG
1  Afghanistan      Asia  1957   30.332   9240934  820.853030       AFG
2  Afghanistan      Asia  1962   31.997  10267083  853.100710       AFG
3  Afghanistan      Asia  1967   34.020  11537966  836.197138       AFG
4  Afghanistan      Asia  1972   36.088  13079460  739.981106       AFG

   iso_num
0        4
1        4
2        4
3        4
4        4
<class 'pandas.core.frame.DataFrame'>
<class 'list'>
       country continent  year  lifeExp       pop   gdpPercap iso_alpha  \
0  Afghanistan      Asia  1952   28.801   8425333  779.445314       AFG
1  Afghanistan      Asia  1957   30.332   9240934  820.853030       AFG
2  Afghanistan      Asia  1962   31.997  10267083  853.100710       AFG
3  Afghanistan      Asia  1967   34.020  11537966  836.197138       AFG
4  Afghanistan      Asia  1972   36.088  13079460  739.981106       AFG

   iso_num
0        4
1        4
2        4
3        4
4        4
<class 'pandas.core.frame.DataFrame'>
<class 'list'>
   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1
<class 'pandas.core.frame.DataFrame'>

In [14]:
px.data.iris()

,sepal_length,sepal_width,petal_length,petal_width,species,species_id
0,5.1,3.5,1.4,0.2,setosa,1
1,4.9,3.0,1.4,0.2,setosa,1
2,4.7,3.2,1.3,0.2,setosa,1
3,4.6,3.1,1.5,0.2,setosa,1
4,5.0,3.6,1.4,0.2,setosa,1
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,3
146,6.3,2.5,5.0,1.9,virginica,3
147,6.5,3.0,5.2,2.0,virginica,3
148,6.2,3.4,5.4,2.3,virginica,3
149,5.9,3.0,5.1,1.8,virginica,3

In [6]:
. __version__

NameError: name 'dash' is not defined